<!DOCTYPE html>
<html>
  <head>
    <title>CinemaGuide | Admin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'admin/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin/application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'partials/admin/navigation' %>
  <%= render 'partials/flashes' %>

    <div class="row">
    	<div class="container">
    		<%= yield %>
    	</div>
    </div>
  </body>
</html>
