<%= render 'partials/admin/errors', obj: @cinema %>

<%= form_for [:admin, @cinema] do |f| %>
	<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name, class: 'form-control', placeholder: 'Cinema Star' %>
	</div>

	<div class="form-group">
		<%= f.label :featured, 'Featured image' %>
		<%= f.file_field :featured %>
	</div>

	<div class="form-group">
		<%= f.label :location %>
		<%= f.text_area :location, class: 'form-control', rows: 1, placeholder: 'Abovyan 12, Yerevan, Armenia' %>
	</div>

	<div class="form-group">
		<%= f.label :telephone %>
		<%= f.text_field :telephone, class: 'form-control', placeholder: '+374 55775960' %>
	</div>
	

	<div class="form-inline hours">
		<%= f.label :open_hour, 'Opening hour' %>
		<%= f.text_field :open_hour, class: 'form-control', placeholder: '09:00' %>
		<%= f.label :close_hour, 'Closing hour' %>
		<%= f.text_field :close_hour, class: 'form-control', placeholder: '20:00' %>
	</div>

	<div class="form-inline days">
		<%= f.label :open_day, 'Opening day' %>
		<%= f.text_field :open_day, class: 'form-control', placeholder: 'Sunday' %>
		<%= f.label :close_day, 'Closing day' %>
		<%= f.text_field :close_day, class: 'form-control', placeholder: 'Friday' %>
	</div>

	<br>

	<div class="form-group">
		<%= f.label :is_active %>
		<%= f.check_box :is_active %>
	</div>

	<%= f.submit params[:action]=='edit' ? 'Update Cinema' : 'Add New', class: 'btn btn-primary' %>
<% end %>