<%= form_for(review) do |f| %>
  <div class="field">
    <%= f.label :cinema_id %>
    <%= f.number_field :cinema_id %>
  </div>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_area :first_name %>
  </div>

  <div class="field">
    <%= f.label :message %>
    <%= f.text_area :message %>
  </div>  

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>