<nav class="navbar navbar-inverse" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
    <h1 style="display: inline;"><%= link_to 'CinemaGuide', root_path, class: 'navbar-brand logo' %><small class="small">/ manage</small></h1>
  </div>
  <div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li><%= link_to 'Home', root_path %></li>
      <li class="dropdown <%= params[:controller] == 'admin/cinemas' ? 'active' : '' %>">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cinemas <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li class="<%= params[:controller] == 'admin/cinemas' && params[:action] == 'new' ? 'active' : '' %>"><%= link_to 'Add New', new_admin_cinema_path %></li>
          <li class="<%= params[:controller] == 'admin/cinemas' && params[:action] == 'index' ? 'active' : '' %>"> <%= link_to 'View All', admin_cinemas_path %> </li>
        </ul>
      </li>
      <li class="dropdown <%= params[:controller] == 'admin/users' ? 'active' : '' %>">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Users <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li class="<%= params[:controller] == 'admin/users' && params[:action] == 'new' ? 'active' : '' %>"> <%= link_to 'Add New', new_admin_user_path %> </li>
          <li class="<%= params[:controller] == 'admin/users' && params[:action] == 'index' ? 'active' : '' %>"> <%= link_to 'View All', admin_users_path %> </li>
        </ul>
      </li>
    </ul>
  </div>
</nav> <!-- Navbar ended -->